name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/dummy-branch-app
          TAG=$(echo "${GITHUB_SHA}" | cut -c1-7)
          docker build -t $IMAGE_NAME:$TAG -t $IMAGE_NAME:latest .

      - name: Security scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/dummy-branch-app:latest
          severity: CRITICAL
          ignore-unfixed: true
          format: table
          exit-code: 1

      - name: Push Docker image
        if: github.event_name == 'push'
        run: |
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/dummy-branch-app
          TAG=$(echo "${GITHUB_SHA}" | cut -c1-7)
          docker push $IMAGE_NAME:$TAG
          docker push $IMAGE_NAME:latest
